.ActivityListItem-box {
    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 1px solid #B3B3B3;
}

.ActivityListItem-box:last-child {
    border-bottom: 1px solid #B3B3B3;
}

.ActivityListItem-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
    padding-right: 10px;
}

.ActivityListItem-activity {
    font-size: 14px;
    font-weight: 500;
}

.ActivityListItem-review {
    float: right;
}

.ActivityListItem-rating {
    font-size: 12px;
    padding-right: 7px;
}

.ActivityListItem-reviews {
    font-size: 10px;
    color: #6A7DBF;
    padding-left: 7px;
}

.ActivityListItem-address {
    font-size: 12px;
}

.ActivityListItem-name {
    font-size: 10px;
}