
.slider {
    display: flex;
    overflow-x: auto;
}

.slider > div {
    background: white;
    width: 25vw;
    border: 1px solid;
}

.slider > div > div {
    height: calc(12.5vh * 0.3);
}


.slider > div > div > h1 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.slider > div > div > p {
    margin: 0;
    font-size: 10px;
    font-weight: 100;
}

.slider > div > img {
    width: 25vw;
    height: calc(12.5vh * 0.7);
}
