.PrefActivityItem-favoriteList {
    list-style-type: none;
}

.PrefActivityItem-activityList {
    list-style-type: none;
    border-right-width: 20%;
}

.PrefActivityItem-favListBox {
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    width: 320px;
    overflow-y: scroll; height: 120px;
}

.PrefActivityItem-actListBox {
    border: 1px solid gray;
    width: 320px;
    height: 120px;
    overflow-y: auto;
}

.PrefActivityItem-filterInput {
    width: 314px;
}

.PrefActivityItem-allActList {
    list-style-type: none;
}