.UserPrefForm-TagBox {
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    width: 320px;
    overflow-y: scroll; height: 120px;
}

.UserPrefForm-TagListBox {
    border: 1px solid gray;
    width: 320px;
    height: 120px;
    overflow-y: auto;
}

.UserPrefForm-filterInput {
    width: 314px;
}

.UserPrefForm-TagList {
    list-style-type: none;
    border-right-width: 20%;
}

.UserPrefForm-TagButton {
    border: 1px solid rgb(163, 170, 228);
    margin: 4px;
    padding: 1px 5px;
    border-radius: 10px;
    color: rgb(124, 134, 184);
}

.UserPrefForm-TagList {
    list-style-type: none;
}

.UserPrefForm-FavoriteTagBox {
    position: relative;
}