.ActivityView {
    height: 100%;
}

.ActivityView-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 12px;
}

.ActivityView-info h1, .ActivityView-info h2 {
    font-weight: 400;
    font-size: 20px;
}

.ActivityView-info h2 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.ActivityView-top {
    margin-bottom: 18px;
}

.ActivityView-back {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin-right: 14px;
}

.ActivityView-activity {
    display: inline;
}

.ActivityView-review {
    float: right;
}

.ActivityView-rating {
    font-size: 14px;
    padding-right: 5px;
}

.ActivityView-reviews {
    font-size: 12px;
    color: #6A7DBF;
    padding-left: 5px;
}

.ActivityView-info-top {
    margin-bottom: 9px;
}

.ActivityView-name {
    font-size: 14px;
}

.ActivityView-image {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.ActivityView-photos {
    width: 98px;
    height: 90px;
    object-fit: cover;
}