.AFM-wrapper * {
    color: #555
}

.AFM-wrapper {
    display: flex;
    flex-direction: column;
}

.AFM-scrollable {
    height: calc(100vh - 44px);
    overflow-y: scroll;
}

/* Banner image */

.AFM-image img {
    object-fit: cover;
    height: 220px;
    width: 100%;
}

/* Image upload */

.AFM-image-upload {
    margin-top: -40px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
}

input[type="file"] {
    display: none;
}

.AFM-icon {
    width: 30px;
    height: 30px;
}

.AFM-icon path {
    fill: #fff;
}

/* Form underneath banner image */
.AFM-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.AFM-form input, textarea, select {
    padding: 8px 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 6px;
    text-align: left;
}

.AFM-form input, textarea {
    width: 100%;
}

.AFM-form textarea {
    box-sizing: border-box;
    height: 100px;
    resize: none;
}

.AFM-form select {
    background: none;
    font-size: 14px;
}

.AFM-form button {
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid rgb(207, 207, 207);
    background: none;
}

.AFM-form button:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
}

.AFM-form li {
    font-size: 14px;
}

.AFM-title {
    padding-bottom: 6px;
}

.AFM-title input {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgb(207, 207, 207);
    font-size: 20px;
    padding: 4px 6px;
}

.AFM-form-label {
    padding-top: 16px;
    padding-bottom: 6px;
    font-size: 16px;
}

.AFM-title input, .AFM-form-field input, .AFM-form-add input {
    box-sizing: border-box;
}

.AFM-form-row {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AFM-form-row span:first-child {
    width: 180px;
}

.AFM-form-row input {
    width: 60px;
}

.AFM-form-add input {
    margin-bottom: 10px;
}

.AFM-button-row {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid rgb(207, 207, 207);
}

.AFM-button-row button {
    white-space: nowrap;
}

.AFM-button-row button:first-child {
    margin-right: 30px;
}

.AFM-list button {
    padding: 4px 10px;
    margin-left: 8px;
    font-size: 12px;
}

.AFM-list li {
    margin-bottom: 4px;
}

.AFM-white-space {
    height: 50px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Navigation bar */

.AFM-navbar {
    width: 100%;
    max-height: 44px;
    height: 44px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #a5a5a5;
}

.navbar-fixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.AFM-navbar .svg-icon {
    width: 18px;
    height: 18px;
    margin-right: 100px;
}

.AFM-navbar .svg-icon:last-child {
    width: 24px;
    height: 24px;
    margin: 0;
}

.AFM-navbar .svg-icon path {
    fill: #fff;
}