.AV-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}

.AV-image img {
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.AV-content {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.AV-title {
    font-size: 20px;
    margin-bottom: 8px;
}

/* Average rating */

.AV-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
}

.AV-rating span:first-child {
    margin-right: 6px;
}

.AV-rating span:last-child {
    margin-left: 10px;
}

.AV-rating-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4px;
}

/* Review */

.AV-review-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

/* Review rating */

.AV-review-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin-left: 14px;
}

.AV-review-rating span:first-child {
    margin-right: 6px;
}


/* Stars */

.gold-star, .grey-star {
    width: 12px;
    height: 12px;
}

.gold-star path {
    fill: rgb(223, 189, 0);
}

.grey-star path {
    fill: rgb(170, 170, 170);
}

.AV-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.AV-subtitle {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.navbar-fixed .svg-icon {
    width: 20px;
    height: 20px;
}

.navbar-fixed .svg-icon path {
    fill: #fff;
}