.App {
    text-align: left;
    display: grid;
    color: #555555;
}

.activities {
    width: 50vw;
    text-align:left;
}

.wbar {
    min-height: 1vh;
    width: 100vw;
}

.wbar > * {
    margin: 0;
    margin-left: 8%;
}

.activitySlider {
    height: 12.5vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
}

.topBar, .recBar {
    color: #4A4A4A;
}

.topBar {
    height: 14vh;
    position: relative;
}

.topBar > p {
    position: absolute;
    bottom: 0;
}

.topBar > img {
    position: absolute;
    height: 4vh;
    width: 4vh;
    right: 0;
    margin: 16px;
}

.recBar {
    height: 7vh;
    width: 100vw;
    position: relative;
}

.recBar > * {
    position: absolute;
}

.recBar > p {
    position: absolute;
    bottom: 1vh;
}

.recBar > img {
    position: absolute;
    right: 0;
    margin: 16px
}

.botBar {
    float: left;
    margin-top:auto;
    height: 6vh;
    width: 100vw;
    background-color: gray;
    display: flex;
}

.botBar > * {
    margin: 0;
    margin-top: calc((6vh - 100%/12)/2);
    margin-bottom: calc((6vh - 100%/12)/2);
    width: calc(100%/3);
    text-align: center;
}

.botBar > button {
    width: 25%;
    float: left;
    margin: 8px;
}

.relevant {
    width: 100vw;
    height: 60.5vh;
    overflow-y: auto;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}

h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 13px;
    margin-top: 20px;
}

.optionsMenu {
    padding: 38px;
    color: #4A4A4A;
    font-size: 14px;
}

.optionsMenu input[type="number"], .optionsMenu select, .optionsMenu button, .input {
    margin-right: 10px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    appearance: none;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 12px;
}

.optionsMenu button {
    border-color: #7CA1E8;
    color: #5F8CE3;
    background: rgba(121, 151, 255, 0.07);
}

.optionsMenu .gray {
    color: #8C8C8C;
    background: rgba(155, 155, 155, 0.07);
    border-color: #9E9E9E;
}

.optionsMenu select {
    background-image: url("../res/arrow_down.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 10px);
    padding-right: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.optionsMenu input[type="number"] {
    width: 80px;
}

.inputLabelLeft {
    margin-right: 10px;
}

.menuWithButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottomButtons {
    display: flex;
}

.bottomButtons > button {
    flex: 1 1 0;
}

.fullscreen {
    height: 100vh;
    box-sizing: border-box;
}

button.big {
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 32px;
}

button.big:last-child {
    margin-right: 0px;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    z-index: 1337;
}