.LV-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: rgb(236, 236, 236);
    position: relative;
}

.LV-header {
    padding: 20px 20px 8px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.svg-icon path {
    fill: rgb(156, 156, 156);
}

.header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.header-main .svg-icon {
    width: 20px;
    height: 20px;
    margin-left: 14px;
}

.header-tail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-tail .svg-icon {
    width: 26px;
    height: 26px;
}

.feed {
    height: calc(100vh - 100px);
    padding: 10px;
    overflow-y: scroll;
}

.feed-hidden {
    height: calc(100vh - 100px);
    padding: 10px;
    overflow-y: hidden;
}

.feed-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    box-shadow: 2px 4px 4px 2px #a0a0a0, -2px 4px 4px 2px #a0a0a0; /* e s r x c*/
    background: #fff;
}

.feed-item-image {
    max-height: 200px;
    min-height: 130px; /* height: 130px if equal */
    max-width: 130px;
    width: 130px;
    min-width: 130px;
    object-fit: cover;
}

.feed-item-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.feed-item-title {
    font-size: 16px;
    margin-bottom: 6px;
}

/* Rating */

.activity-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity-rating span:first-child {
    margin-right: 6px;
}

.activity-rating span:last-child {
    margin-left: 10px;
}

.feed-item .activity-rating {
    margin-bottom: 5px;
}

.feed-item .activity-rating span {
    font-size: 11px;
}

.feed-item .activity-rating svg {
    width: 10px;
    height: 10px;
}

/* Tags */

.feed-item .tag-list {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feed-item .tag-list span {
    border: 1px solid rgb(163, 170, 228);
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 1px 5px;
    border-radius: 10px;
    color: rgb(124, 134, 184);
}

/* Navigation bar */

.navbar, .navbar-fixed {
    width: 100%;
    max-height: 44px;
    height: 44px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #a5a5a5;
}

.navbar-fixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar img, .navbar-fixed img {
    height: 20px;
    margin-right: 70px;
}

.navbar img:last-child, .navbar-fixed img:last-child {
    margin: 0;
}