.MV-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: rgb(236, 236, 236);
}

.MV-header {
    padding: 20px 20px 8px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.relevant, .map-container, .map-container__map {
    height: 100% !important;
}