.SV-wrapper {
    height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.SV-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.SV-title {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.SV-status {
    padding-top: 20px;
}

/* Scrollable body */

.SV-scrollable {
    overflow-y: scroll;
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

/* Tags */

.SV-taglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 16px;
}

.SV-tag-light, .SV-tag-dark {
    padding: 10px 14px;
    border-radius: 30px;
    margin-right: 14px;
    margin-bottom: 14px;
}

.SV-tag-light:last-child, .SV-tag-dark:last-child {
    margin-bottom: 30px;
}

.SV-tag-light {
    background-color: #eef1ff;
    border: 1px solid #b2b9dd;
    color: #6a76b3;
}

.SV-tag-dark {
    background-color: #758bff;
    border: 1px solid #758bff;
    color: #fff;
}

/* Navigation bar */

.SV-navbar {
    width: 100%;
    max-height: 44px;
    height: 44px;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #a5a5a5;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.SV-navbar span {
    margin-right: 12px;
}

.SV-navbar .svg-icon {
    width: 18px;
    height: 18px;
}

.SV-navbar .svg-icon path {
    fill: #fff;
}