.UserPrefView-homeB {
    background-color: #f8f8f8; /* Green */
    border-radius: 10px;
    border: 1px solid rgb(88, 88, 88);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top:750px;
    left: 0px;
    display: inline-block;
    font-size: 16px;
}

.UserPrefView-favoritesB {
    background-color: #f8f8f8; /* Green */
    border-radius: 10px;
    border: 1px solid rgb(88, 88, 88);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top:750px;
    left: 200px;
    display: inline-block;
    font-size: 16px;
}

.UserPrefActView-DescB {
    background-color: #f8f8f8; /* Green */
    border-radius: 10px;
    border: 1px solid rgb(88, 88, 88);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top:750px;
    left: 0px;
    display: inline-block;
    font-size: 16px;
}

